.header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

.hamburger-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.brand-icon {
    width: 80px;
    margin-left: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: #ffffff;
        z-index: 99;
    }
}

@media (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }
    .brand-icon{
        position: fixed;
        margin-left: 300px;
        margin-top: 5px;
        width: 120px;
    }
}